

/*****HEADER*****/
header{
    position:fixed;
    width:100%;
    top:0,
    background-color:rgba(0,0,0,0,5);  
}
.header-container{
    height:60px;
    line-height: 60px;
    display:flex;
    justify-content: space-between;
    max-width: 1000px;
    margin:0 auto;
}
.header-container ul{
    display: flex;
}
.header-container li{
    margin-right: 20px;
    list-style: none;
}
.header-container li:last-child{
    margin-right: 0;
}
.header-container a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.header-container a:hover{
    opacity: 0.7;
}

.keyvisual{
    height: 600px;
    background-image: url(https://img.barks.jp/img/article/1000138620/H/1200.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.keyvisual-container{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;    
     text-shadow: 0 2px 5px rgba(255, 255, 255, 5);
}
.keyvisual-container h1{
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 30px;
}
.keyvisual-container h2{
    font-size: 26px;
    margin-bottom: 8px;
}
.keyvisual-container.keyvisual-description{
    font-size: 22px;
    margin-bottom: 26px;
}
.keyvisual-container.keyvisual-data{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}
.keyvisual-container.keyvisual-prace{
    font-size: 18px;
}
.about{
    background-image: url(bg_top.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.about-container{
    color: black;
    text-align: center;
    padding: 80px 0;
    line-height: 28px;
    max-width: 1000px;
    margin: 0 auto;
}
.about-container h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 5);
}
.news{
    background-image: url(http://spice.eplus.jp/images/CcLUM3Ixi1n0iKszvcndICKzdQdQ5kbP88SXsB9PaLBooNIoROvXXPKwZfPyOlO2/);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.news-container{
    padding: 80px 0;
}
.news-container h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 5);
}
.news-container ul{
    display: flex;
    justify-content: center;
}
.news-container li{
    width: 280px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    margin-right: 20px;
    border-radius: 3px;
}
.news-container li:last-child{
    margin-right: 0;
}
.news-container .news-image{
    width: 280px;
    height: 280px;
    margin: o auto;
    background-color: #ddd;
}
.news-container li p{
    padding-top: 10px;
    font-size: 16px;
}
.video{
    background-image: url(https://img.barks.jp/image/review/1000172370/1.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.video-container{
    padding: 80px 0;
    max-width: 1000px;
    margin: 0 auto;
}
.video-container h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 5);
}
.video-container ul{
    display: flex;
    justify-content: center;
}
.video-container li{
    width: 400px;
    height: 200px;
    margin-right: 20px;
}
.video-container li:last-child{
    margin-right: 0;
}
.video-container li iframe{
    width: 400px;
    height: 200px;
}
.history-container h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 5);
}
.history-container ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.history-container a{
    display: block;
    width: 200px;
    height: 150px;
    line-height: 150px;
    background-color: #0f22c7;
    border-radius: 3px;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 5);
}
.history-container a:hover{
    opacity: 0.8;
}
.history-container .history-image{
    color: black;
}
.history-container li:last-child{
    margin-right: 0;
}
.access{
    background-color: #111;
}  
.access-container h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 5);
}
.access-container .access-map{
    width: 100%;
    height: 500px;
}
.access-container .access-map iframe{
    width: 100%;
    height: 100%;
}
footer{
    font-size: 12px;
    height: 80px;
    background-color: #111;
    line-height: 80px;
    color: #fff;
    text-align: center;
}
